{% extends 'templates/app.twig' %}

{% block content %}
	<div class = "row" id='first row'>

		<div class = "col-md-6 col-md-offset-3">

			<div class = "panel panel-default">

				<div class = "panel-heading">l'addition<div id='add-button'><button type="button" id="add">Add order</button></div></div>
				<div class = "panel-body">

					<form action = "{{path_for('check.add')}}" method = "post" autocomplete = "off">
						<div class="row-appender">

							<div class='row' id="addNamePrice">

								<div class ="form-group col-md-4">

									<label for = "products">Product ID</label>
									<input list="products" class="form-control" id="select_product" name="products">
									<datalist id="products" >
										
									</datalist>
								
								</div>

							</div>
						</div>
						
						<button type = "submit" class = "btn btn-default">Add Check</button>
						{{ csrf.field | raw }}


					</form>

				</div>

			</div>

		</div>

	</div>

{% endblock %}

