{% extends 'templates/app.twig' %}

{% block content %}

	<div class = "row" id='first-row'>

		<div class = "col-md-6 col-md-offset-3">

			<div class = "panel panel-default">

				<div class = "panel-heading">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					<input class="check-id" id="check-id" style="width:40px;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					&nbsp &nbsp <b>L'addition</b>
				</div>

				<div class = "panel-body">

					<form action = "{{path_for('check.add')}}" method = "post" autocomplete = "off">
						
						<div class="row-appender">

							<div class='row' id="addNamePrice">

								<div class ="form-group col-md-3">

									<label for = "products">Product</label>
									<input list="products" class="form-control" name="products">
									<datalist id="products" >
										
									</datalist>
								
								</div>

							</div>
						</div>
						
						<div class="panel-footer">
							<button type = "submit" class = "btn btn-success">New Check</button>
							<label for="total">Total</label>
							<input type="number" class ="fomr-control total" id="total" name="total">
							<label for="closed">Closed?</label>
							<input type="checkbox" class ="fomr-control" id="closed" name="closed">

						</div>


					</form>

				</div>
			
			</div>

		</div>

	</div>
	<div class="row" id="second-row">
		<table class="table table-bordered">
			<div class="tabl-container">	
				<table id="table_id" class="display">
				    <thead>
				        <tr>
				            <th>Column 1</th>
				            <th>Column 2</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>Row 1 Data 1</td>
				            <td>Row 1 Data 2</td>
				        </tr>
				        <tr>
				            <td>Row 2 Data 1</td>
				            <td>Row 2 Data 2</td>
				        </tr>
				    </tbody>
				</table>
			</div>


		</table>
	</div>

<script type="text/javascript">

//Data table
$(document).ready( function () {
    $('#table_id').DataTable();
} );


//Order details
loadData(dataList);
loadData(addNP);

function dataList(productList){

	var innerElements = productList.map((product)=> {
		return ' <option value="'+product.id+'">'+product.name+' </option>';
	});
	$('#products').html(innerElements.join(''))  ;

};

function addNP(productList){ 
	$("[name='products']").on('input', function(){
		var userText = $(this).val();

		$("#products").find("option").each(function() {
		  if ($(this).val() == userText) {

			  	console.log('Selected and inserted');

			  	$("#addNamePrice").append(`

			  		<div class ="form-group col-md-3" >

			  			<label for = "pn">Product Name</label>
			  			<input type="text" class="form-control" id="pn" name="pn">
			  		
			  		</div>

			  		<div class ="form-group col-md-3" >

			  			<label for = "pp">Product Price</label>
			  			<input type="number" class="form-control" id="pp" name="pp">
			  		
			  		</div>

			  		<div class ="form-group col-md-3" >
			  			<div><label for="add-order">&nbsp &nbsp &nbsp;</label></div>
			  			<button class="btn btn-success" id="add-order" >+</button>			  		

			  		</div>
				`);

			}
		});

		productList.forEach(function(currentValue){
	  		if(currentValue.id === parseInt(userText)){
	  			$("#pn").val(currentValue.name);
	  			$("#pp").val(currentValue.price);
	  		};
		});

	});

};


</script>

{% endblock %}

