body {
	padding-top: 80px;
	padding-bottom: 40px;
}

#add-button {
	float: right;
}

td {
	padding: 4px !important;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

table.dataTable tr.group td{
	font-weight:bold;
	background-color:#e0e0eb;
}

.button-container{
	float: right;
}
/*
#check-name{
	height: 80px;
	width:160px;
}*/


.dataTables_wrapper{
	width: 50% !important;
}