body {
	padding-top: 80px;
	padding-bottom: 40px;
}

#add-button {
	float: right;
}




table.dataTable tr.group td{
	font-weight:bold;
	/*background-color:#e0e0eb;*/
}

.button-container{
	margin:15 5 5 5px;
}

#closed-button{
	float: right;
}

.dataTables_wrapper{
	width: 50% !important;
}

.form-group.col-md-2{
	float:left;
}

#order-container{
	margin-right:2px!important;
}