body {
	padding-top: 80px;
	padding-bottom: 80px;
}

#add-button {
	float: right;
}

@media only screen and (max-width : 900px){ 
	.glyphicon-arrow-right, .glyphicon-arrow-left{
		font-size: 100% !important;
	}
}

  
.glyphicon-arrow-right, .glyphicon-arrow-left{
  	font-size: 500%;
}

div#table_id_wrapper{
	margin-top: 10px;
}




table {
	font-size: 14px;
}

td a{
	display: block;
}

tr.group{
	background-color: #e8e8e8 !important;
}

tr.group:hover {
    background-color: #ddd !important;
}

.odd, .even{
	background-color: #fcfcff!important;
}

td {
 	vertical-align: middle!important;
 }


.button-container{
	margin:15 5 5 5px;
}

#closed-button{
	float: right;
}

.form-group.col-md-2{
	float:left;
}

#order-container{
	margin-right:2px!important;
	width:100%;
}

.page-columns{
	float:left;
}

#container{
	float:left;
	width: 50%!important;
	margin-bottom: 20px;	
}
