{% extends 'templates/app.twig' %}

{% block content %}

<div class="row" id="row1">
    <span id="daily-header"></span>
    <canvas id="daily"></canvas>

</div>

<div class="row" id="row2">  
    <canvas id="monthly"></canvas>
</div>

<script src="/js/reports/daily.js"></script>
<script src="/js/reports/monthly.js"></script>



{% endblock %}